<div class="main">
  <div class="container">
    <h1>ページ登録</h1>

    <% @page.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>

    <%= form_tag("/page/create") do %>
      <div class="form-group">
        <h2><label>タイトル:</label></h2>
        <div class="input-content">
          <label>
            <input type="text" class="input-text" name="title"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <h2><label>URL:</label></h2>
        <div class="input-content">
          <label>
            <input type="text" class="input-text" name="url"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <h2><label>メモ:</label></h2>
        <div class="input-content">
          <label>
            <textarea class="content-area" name="memo" rows="3"></textarea>
          </label>
        </div>
      </div>

      <hr>
      <br>
      <input type="submit" class="btn-flat-border" value="確定">　
    <% end %>
    <br><br>
  </div>
</div>